<!DOCTYPE html>
<html>

<head>
  <script defer src="../dist/FileSaver.js"></script>
  <script defer src="../dist/face-api.js"></script>
  <script defer src="../public/js/SsdMobilenetv.js"></script>
  <link rel="stylesheet" href="../public/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body style="background-color:#FFFFE0;">
  <div id="navbar"></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video width="640" height="480" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted
        playsinline></video>
      <canvas id="overlay" />
    </div>
    <h4>Convolutional Layer : 1</h4>
    <div class="row side-by-side margin">
      <div class="column">
        <label for="canvas42"> kernel: 42</label>
        <canvas id="canvas42" width="256" height="256" />
      </div>
      <div class="column">
        <label for="canvas54"> kernel: 54</label>
        <canvas id="canvas54" width="256" height="256" />
      </div>
      <div class="column">
        <label for="canvas60"> kernel: 60</label>
        <canvas id="canvas60" width="256" height="256" />
      </div>
    </div>
    <h4>Convolutional Layer : 11</h4>
    <div class="row side-by-side margin">
      <div class="column">
        <canvas id="canvas85" width="32" height="32" style="width: 128px; height: 128px;"></canvas>
        <p id="kernel85">kernel: 85</p>
      </div>
      <div class="column">
        <canvas id="canvas90" width="32" height="32" style="width: 128px; height: 128px;"></canvas>
        <p id="kernel90">kernel: 90</p>
      </div>
      <div class="column">
        <canvas id="canvas333" width="32" height="32" style="width: 128px; height: 128px;"></canvas>
        <p id="kernel333">kernel: 333</p>
      </div>
      <div class="column">
        <canvas id="canvas463" width="32" height="32" style="width: 128px; height: 128px;"></canvas>
        <p id="kernel463">kernel: 463</p>
      </div>
    </div>
    <div class="row side-by-side">
      <button id="create" onclick="generate()">Create file</button>
    </div>
  </div>
</body>

<script>
  const width = 256, height = 256;
  const canvas42 = document.getElementById('canvas42'),   ctx42 = canvas42.getContext('2d'),   idata42 = ctx42.createImageData(width, height);
  const canvas54 = document.getElementById('canvas54'), ctx54 = canvas54.getContext('2d'), idata54 = ctx54.createImageData(width, height);
  const canvas60 = document.getElementById('canvas60'), ctx60 = canvas60.getContext('2d'), idata60 = ctx60.createImageData(width, height);

  const width2 = 32, height2 = 32;
  const canvas85 = document.getElementById('canvas85'), ctx85 = canvas85.getContext('2d'), idata85 = ctx85.createImageData(width2, height2);
  const canvas90 = document.getElementById('canvas90'), ctx90 = canvas90.getContext('2d'), idata90 = ctx90.createImageData(width2, height2);
  const canvas333 = document.getElementById('canvas333'), ctx333 = canvas333.getContext('2d'), idata333 = ctx333.createImageData(width2, height2);
  const canvas463 = document.getElementById('canvas463'), ctx463 = canvas463.getContext('2d'), idata463 = ctx463.createImageData(width2, height2);

  async function generate() {
    var data = Promise.resolve(await faceapi.nets.ssdMobilenetv1.getConvLayerString());
    data.then(vals => {
      var blob = new Blob([vals], { type: "text/plain;charset=utf-8" });
      saveAs(blob, "output.txt");
    });

    var input_data = Promise.resolve(await faceapi.nets.ssdMobilenetv1.getInputString());
    input_data.then(vals => {
      var blob = new Blob([vals], { type: "text/plain;charset=utf-8" });
      saveAs(blob, "input.txt");
    });
  }

  async function onPlay() {
    const videoEl = $('#inputVideo').get(0)
    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay())

    const result = await faceapi.detectAllFaces(videoEl, new faceapi.SsdMobilenetv1Options())
    const grayScale = await faceapi.nets.ssdMobilenetv1.getGrayScale();
    const grayScale2 = await faceapi.nets.ssdMobilenetv1.getGrayScale_conv11();

    idata42.data.set(grayScale[0]);
    ctx42.putImageData(idata42, 0, 0);
    idata54.data.set(grayScale[2]);
    ctx54.putImageData(idata54, 0, 0);
    idata60.data.set(grayScale[4]);
    ctx60.putImageData(idata60, 0, 0);

    idata85.data.set(grayScale2[0]);
    ctx85.putImageData(idata85, 0, 0);
    idata90.data.set(grayScale2[1]);
    ctx90.putImageData(idata90, 0, 0);
    idata333.data.set(grayScale2[2]);
    ctx333.putImageData(idata333, 0, 0);
    idata463.data.set(grayScale2[3]);
    ctx463.putImageData(idata463, 0, 0);

    if (result) {
      const canvas = $('#overlay').get(0)
      const dims = faceapi.matchDimensions(canvas, videoEl, true)
      faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
    }

    setTimeout(() => onPlay())
  }

  async function run() {
    await loadFaceDetector()
    const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
    const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream
  }

  function updateResults() { }

  $(document).ready(function () {
    run()
  })
</script>
</body>

</html>