<!DOCTYPE html>
<html>

<head>
  <script defer src="FileSaver.js"></script>
  <script defer src="face-api.js"></script>
  <script defer src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video width="640" height="480" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted
        playsinline></video>
      <canvas id="overlay" />
    </div>
    <div class="row side-by-side">
      <div style="position: relative" class="margin">
        <div class="column">
          <canvas id="canvas2" />
          <p>kernel: 2</p>
        </div>
        <div class="column">
          <canvas id="canvas42" />
          <p>kernel: 42</p>
        </div>
        <div class="column">
          <canvas id="canvas60" />
          <p>kernel: 60</p>
        </div>
      </div>
    </div>
    <div class="row side-by-side">
      <div style="position: relative" class="margin">
        <div class="column">
          <canvas id="canvas26" />
          <p>kernel: 26</p>
        </div>
        <div class="column">
          <canvas id="canvas55" />
          <p>kernel: 55</p>
        </div>
        <div class="column">
          <canvas id="canvasx" />
          <p>kernel: x</p>
        </div>
      </div>
    </div>
    <div>
      <div class="row side-by-side">
        <!-- <div class="row">
          <label for="kernelNumber">Choose a kernel:</label>
          <input disabled value="0" id="kernelNumber" type="text" class="bold">
        </div>
        <button class="waves-effect waves-light btn" onclick="onDecreaseMinConfidence()">
          <i class="material-icons left">-</i>
        </button>
        <button class="waves-effect waves-light btn" onclick="onIncreaseMinConfidence()">
          <i class="material-icons left">+</i>
        </button>
        <br>
        <br> -->
        <button id="create" onclick="generate()">Create file</button>
      </div>
    </div>
  </div>
</body>

<script>
  const width = 256, height = 256;
  const canvas2 = document.getElementById('canvas2'), ctx2 = canvas2.getContext('2d'), idata2 = ctx2.createImageData(width, height);
  canvas2.width = width, canvas2.height = height;

  const canvas26 = document.getElementById('canvas26'), ctx26 = canvas26.getContext('2d'), idata26 = ctx26.createImageData(width, height);
  canvas26.width = width, canvas26.height = height;

  const canvas42 = document.getElementById('canvas42'), ctx42 = canvas42.getContext('2d'), idata42 = ctx42.createImageData(width, height);
  canvas42.width = width, canvas42.height = height;

  const canvas55 = document.getElementById('canvas55'), ctx55 = canvas55.getContext('2d'), idata55 = ctx55.createImageData(width, height);
  canvas55.width = width, canvas55.height = height;

  const canvas60 = document.getElementById('canvas60'), ctx60 = canvas60.getContext('2d'), idata60 = ctx60.createImageData(width, height);
  canvas60.width = width, canvas60.height = height;



  async function generate() {
    var data = Promise.resolve(await faceapi.nets.ssdMobilenetv1.getConvLayerString());
    data.then(vals => {
      var blob = new Blob([vals], { type: "text/plain;charset=utf-8" });
      saveAs(blob, "output.txt");
    });
  }

  async function onPlay() {
    const videoEl = $('#inputVideo').get(0)
    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay())

    const result = await faceapi.detectAllFaces(videoEl, new faceapi.SsdMobilenetv1Options())
    const grayScale = await faceapi.nets.ssdMobilenetv1.getGrayScale();
    idata2.data.set(grayScale[0]);
    ctx2.putImageData(idata2, 0, 0);
    idata26.data.set(grayScale[1]);
    ctx26.putImageData(idata26, 0, 0);
    idata42.data.set(grayScale[2]);
    ctx42.putImageData(idata42, 0, 0);
    idata55.data.set(grayScale[3]);
    ctx55.putImageData(idata55, 0, 0);
    idata60.data.set(grayScale[4]);
    ctx60.putImageData(idata60, 0, 0);


    if (result) {
      const canvas = $('#overlay').get(0)
      const dims = faceapi.matchDimensions(canvas, videoEl, true)
      faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
    }

    setTimeout(() => onPlay())
  }

  async function run() {
    await loadFaceDetector()
    const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
    const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream
  }

  function updateResults() { }

  $(document).ready(function () {
    run()
  })
</script>
</body>

</html>